name: Publish image

on: [ workflow_dispatch, workflow_call ]

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: 'latest'
          java-version: '17'
          components: 'native-image'
          cache: 'gradle'
      - name: Build and publish image
        run: ./gradlew bootBuildImage --publishImage
        env:
          ISSUER_URI: ${{ secrets.ISSUER_URI }}
          JWK_SET_URI: ${{ secrets.JWK_SET_URI }}
          REGISTRY_HOST: ${{ secrets.REGISTRY_HOST }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          PATREON_CLIENT_ID: ${{ secrets.PATREON_CLIENT_ID }}
          PATREON_CLIENT_SECRET: ${{ secrets.PATREON_CLIENT_SECRET }}
          PATREON_CLIENT_REDIRECT_URI: ${{ secrets.PATREON_CLIENT_REDIRECT_URI }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          DATASOURCE_URL: ${{ secrets.DATASOURCE_URL }}
          DATASOURCE_USERNAME: ${{ secrets.DATASOURCE_USERNAME }}
          DATASOURCE_PASSWORD: ${{ secrets.DATASOURCE_PASSWORD }}
